* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F2F6F9;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 200px;
    max-width: 390px;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.118);
    margin: auto;
    margin-top: 270px;
    display: flex;
    align-items: center;
}

.mensagem-confirmacao {
    display: flex;
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: 16px;
}

.botao {
    display: flex;
    background-color: #4F46E5;
    height: 40px;
    border-radius: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 10px 100px;
    margin-bottom: 24px;
    color: white;
}

.botao:hover {
    background-color: #3731a2;
}